<div class="grid nested-grid">
  <div class="col-12 md:col-6 h-screen surface-section text-800 flex align-items-center justify-content-center ">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
      <section>
        <span class="block text-6xl font-bold mb-1">Employee</span>
        <div class="text-6xl text-primary font-bold mb-3">Management System</div>
        <p class="mt-0 mb-4 text-700 line-height-3">Management karyawan dengan mudah dan efisien</p>
      </section>
    </div>
  </div>
  <div class="col-12 md:col-6 h-screen bg-primary flex align-items-center justify-content-center">
    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
      <form (ngSubmit)="login()">
        <label for="username" class="block text-900 font-medium mb-2">Username</label>
        <input type="text" id="username" [(ngModel)]="username" name="username" placeholder="Username" pInputText
          class="w-full mb-3">

        <label for="password" class="block text-900 font-medium mb-2">Password</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="Password" pInputText
          class="w-full mb-3">

        <button pButton pRipple label="Sign In" icon="pi pi-user" class="w-full"></button>
      </form>
      <div *ngIf="errorMessage" class="error-message text-center p-3">{{ errorMessage }}</div>
    </div>
  </div>
</div>
