<div class="flex align-items-center justify-content-center">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6 my-5">
    <div class="grid mt-5">
      <div class="col-6">
        <label class="block text-900 font-medium mb-2">Username</label>
        <label class="block text-900 font-medium mb-2">First Name</label>
        <label class="block text-900 font-medium mb-2">Last Name</label>
        <label class="block text-900 font-medium mb-2">Email</label>
        <label class="block text-900 font-medium mb-2">Birth Date</label>
        <label class="block text-900 font-medium mb-2">Basic Salary</label>
        <label class="block text-900 font-medium mb-2">Status</label>
        <label class="block text-900 font-medium mb-2">Group</label>
        <label class="block text-900 font-medium mb-2">Description</label>
      </div>
      <div  class="col-6">
        <label class="block text-900 font-medium mb-2">{{employee?.username}}</label>
        <label class="block text-900 font-medium mb-2">{{employee?.firstName}}</label>
        <label class="block text-900 font-medium mb-2">{{employee?.lastName}}</label>
        <label class="block text-900 font-medium mb-2">{{employee?.email}}</label>
        <label class="block text-900 font-medium mb-2">{{employee?.birthDate}}</label>
        <label class="block text-900 font-medium mb-2">{{ employee?.basicSalary | currency:'Rp ':'symbol':'1.2-2' }}</label>
        <label class="block text-900 font-medium mb-2">{{employee?.status}}</label>
        <label class="block text-900 font-medium mb-2">{{employee?.grup}}</label>
        <label class="block text-900 font-medium mb-2">{{employee?.description}}</label>
      </div>
      <div class="col-12">
        <button pButton class="w-full" label="Ok" (click)="goBack()" severity="primary"></button>
      </div>
    </div>
  </div>
</div>
