<div class="grid bg-primary-200 h-screen">
  <div class="col-2 ShowOnDesktop h-screen">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-12 md:col-10 lg:col-10 h-screen overflow-auto">
    <div class="grid">
      <div class="col-12">
        <app-navigasi></app-navigasi>
      </div>
      <div class="col-12">
        <!-- <p-scrollPanel styleClass="bg-white"> -->
          <router-outlet></router-outlet>
        <!-- </p-scrollPanel> -->
      </div>
    </div>
  </div>
</div>
