<p-toast></p-toast>
<div class="card bg-white p-6">
  <!-- <div class="flex align-items-center justify-content-center">
    <div class="surface-card p-4 shadow-2 border-round w-10 my-5"> -->
      <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <div class="grid">
          <div class="col-12 md:col-12 lg:col-6">
            <div class="p-field">
              <label class="block text-900 font-medium my-2" for="username">Username:</label>
              <input id="username" pInputText class="w-full" formControlName="username" />
              <div class="error-message" *ngIf="employeeForm.get('username').invalid">
                *Username is required.
              </div>
            </div>

            <div class="p-field">
              <label class="block text-900 font-medium my-2" for="firstName">First Name:</label>
              <input id="firstName" pInputText class="w-full" formControlName="firstName" />
              <div class="error-message" *ngIf="employeeForm.get('firstName').invalid">*First Name is required.
              </div>
            </div>

            <div class="p-field">
              <label class="block text-900 font-medium my-2" for="lastName">Last Name:</label>
              <input id="lastName" pInputText class="w-full" formControlName="lastName" />
              <div class="error-message" *ngIf="employeeForm.get('lastName').invalid">
                *Last Name is required.
              </div>
            </div>

            <div class="p-field">
              <label class="block text-900 font-medium my-2" for="email">Email:</label>
              <input id="email" pInputText class="w-full" formControlName="email" />
              <div class="error-message" *ngIf="employeeForm.get('email').invalid">
                *Valid Email is required.
              </div>
            </div>

            <div class="p-field">
              <label class="block text-900 font-medium my-2" for="birthDate">Birth Date:</label>
              <p-calendar id="birthDate" class="w-full" formControlName="birthDate"></p-calendar>
              <div class="error-message" *ngIf="employeeForm.get('birthDate').invalid">
                *Birth Date must be today or earlier.
              </div>
            </div>
          </div>

          <div class="col-12 md:col-12 lg:col-6">
            <div class="p-field">
              <label class="block text-900 font-medium my-2" for="basicSalary">Basic Salary:</label>
              <p-inputNumber id="basicSalary" class="w-full" formControlName="basicSalary"></p-inputNumber>
              <div class="error-message" *ngIf="employeeForm.get('basicSalary').invalid">
                *Basic Salary must be a number.
              </div>
            </div>

            <div class="p-field">
              <label class="block text-900 font-medium my-2" for="status">Status:</label>
              <input id="status" pInputText class="w-full" formControlName="status" />
              <div class="error-message" *ngIf="employeeForm.get('status').invalid">
                *Status is required.
              </div>
            </div>

            <div class="p-field">
              <label class="block text-900 font-medium my-2" for="grup">Group:</label>
              <p-dropdown [options]="groups" class="w-full" formControlName="grup" optionLabel="name" [filter]="true"
                filterBy="name" [showClear]="true" placeholder="Select a group">
                <ng-template pTemplate="selectedItem" let-selectedOption>
                  <div class="flex align-items-center gap-2">
                    <div>{{ selectedOption.name }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
              <div class="error-message" *ngIf="employeeForm.get('grup').invalid">
                *Group is required.
              </div>
            </div>

            <div class="p-field">
              <label class="block text-900 font-medium my-2" for="description">Description:</label>
              <textarea id="description" cols="30" pInputTextarea class="w-full"
                formControlName="description"></textarea>
              <div class="error-message" *ngIf="employeeForm.get('description').invalid">
                *Group is required.
              </div>
            </div>
          </div>
        </div>




        <div class="grid mt-5">
          <div class="col-6">
            <button pButton type="submit" class="w-full" label="Save" [disabled]="employeeForm.invalid"></button>
          </div>
          <div class="col-6">
            <button pButton type="cancel" class="w-full" label="Cancel" [routerLink]="['/employee/list']"
              severity="secondary"></button>
          </div>
        </div>

      </form>
    <!-- </div>
  </div> -->
</div>
