<div class="bg-white w-full">
  <p-megaMenu [model]="items" [style]="{ display: 'flex' }">
    <ng-template pTemplate="item" let-item>
      <a class="flex align-items-center cursor-pointer px-3 py-2 relative font-semibold uppercase"
        style="border-radius: 2rem">
        <span [ngClass]="isActive(item.alamat)?'bg-primary p-3 border-round-sm':''">{{ item.label }}</span>
      </a>
    </ng-template>
  </p-megaMenu>
</div>
