<p-megaMenu [model]="items" [style]="{ 'border-radius': '3rem', display: 'flex' }" styleClass="p-3 m-3 surface-0">
  <ng-template pTemplate="start">

  </ng-template>
  <ng-template pTemplate="item" let-item>
    <a class="flex align-items-center cursor-pointer px-3 py-2 relative font-semibold uppercase"
      style="border-radius: 2rem">
      <span [ngClass]="isActive(item.alamat)?'bg-primary p-3 border-round-sm':''">{{ item.label }}</span>
    </a>
  </ng-template>
  <ng-template pTemplate="end">
    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
  </ng-template>
</p-megaMenu>
